$logo-size: em(50);
$big-logo-size: em(90);
$header-height: $logo-size * 2;

$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;

$white: #fff;
$black: #000;
$base-text-color: #333333;
$light-gray: #eee;
$medium-gray: #777;
$pink: #f95894;